.card{
    margin: auto;
    margin-top: 40px;
    width: 80%;
}
.row:hover{
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    cursor:pointer;
}
#buttons{
    margin: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 0;
}
button{
    margin-right: 10px;
}